include ./card.jade
extends ./layout.jade

block page
  .content.content-cards
    .main.cards
      - var dirname = page.metadata.dir
      each files, name in contents[dirname]
        - var dir = name + "/"
        - var article = files["index.md"]
        if article
          - var intro = article.metadata.intro || article.intro
          - var img = article.metadata.img;
          - var image = img ? dir+img : (files["preview.jpg"] && dir+"preview.jpg")
          +card(name, article.title, intro, image)
    include ./sidebar.jade
    include ./footer.jade
