- var Rurl = /^mailto:|^[a-z]+:\/\//i
- function isUrl(path) { return path.match(Rurl); }
- function fixTrailingSlash(orig, url) { return ((orig.slice(-1) !== url.slice(-1)) ? (url + orig.slice(-1)) : url); }
- function urlFor(path) { return isUrl(path) ? path : fixTrailingSlash(path, Path.relative(page.getUrl(), path)); }

doctype html
html(lang="en")
  head
    include ./head.jade
  body
    include ./header.jade
    .page
      block page
        .content
          block content
            .main
              block main
            include ./sidebar.jade
            include ./footer.jade
    .scripts
      include ./scripts.jade